<app-main-menu></app-main-menu>
<div class="container">
    <div class="row">
        <div class="col-md-12" style="border: 1px solid yellow">
            This is Search component
            <app-search></app-search>
        </div>

        <div class="col-sm-4 col-lg-4" style="border: 1px solid red">
            This is Filter component
            <hr>
            <app-filter></app-filter>
        </div>

        <div class="col-sm-8 col-lg-8" style="border: 1px solid black">
            This is Event list component
            <hr>
            <app-event-list></app-event-list>
        </div>
    </div>
</div>